.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-left: 300px;
    margin-right:300px;
    border-radius: 12px;
    background: #fff;
    padding-bottom: 30px;
    box-shadow: #797979;
    

}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: black;
    font-size: 48px;
    font-weight: 700;

}

.subtext{
    color: grey;
    font-size: 24px;
    font-weight: 700;
    margin-right: 120px;
}



.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction:column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin:auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}
.input select {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    color: #636363;
    padding: 8px;
    appearance: none; /* removes default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 26px;
    color: #797979;
    margin-top: auto 27px;
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 18px;
   font-style: italic;

}

.forgot-password span{
    color:black;
    cursor: pointer;
    margin-left: 2px;
}

.forgot-password span:hover{
    color:#797979;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.grey{
    background-color: #EAEAEA;
    color:#676767;
}